{
  "openapi": "3.0.0",
  "info": {
    "title": "Nimble Web Search API",
    "description": "API for performing web searches using various search engines through the Nimble platform",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://searchit-server.crawlit.live",
      "description": "Nimble Web Retrieval server (Nimble Labs Feature)"
    }
  ],
  "security": [
    {
      "basicAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic",
        "description": "Basic Authentication with username and password.\nDefault encoded credentials: \"Basic xxxx\"\n(This is the Base64 encoding of \"default_user:default_password\")"
      }
    },
    "parameters": {
      "AuthorizationHeader": {
        "name": "Authorization",
        "in": "header",
        "description": "Basic Authentication header with Base64-encoded credentials.\nDefault value: \"Basic xxxx\"",
        "required": true,
        "schema": {
          "type": "string",
          "default": "Basic XXXXXXXXXX"
        }
      }
    }
  },
  "paths": {
    "/search": {
      "post": {
        "summary": "Perform a web search",
        "description": "Retrieve search results from various search engines (Google, Google SGE, Bing, Yandex).\nResults are returned with page content and metadata.",
        "operationId": "nimbleDeepWebSearch",
        "security": [
          {
            "basicAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AuthorizationHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "The search query to execute"
                  },
                  "search_engine": {
                    "type": "string",
                    "description": "The search engine to use",
                    "default": "google_search",
                    "enum": [
                      "google_search",
                      "google_sge",
                      "bing_search",
                      "yandex_search"
                    ]
                  },
                  "k": {
                    "type": "integer",
                    "description": "Number of search results to return",
                    "default": 3
                  },
                  "render": {
                    "type": "boolean",
                    "description": "Whether to render the search results",
                    "default": false
                  },
                  "locale": {
                    "type": "string",
                    "description": "The locale to use for the search",
                    "default": "en"
                  },
                  "country": {
                    "type": "string",
                    "description": "The country to use for the search",
                    "default": "US"
                  },
                  "parsing_type": {
                    "type": "string",
                    "description": "The parsing type for content",
                    "default": "plain_text",
                    "enum": [
                      "plain_text",
                      "markdown",
                      "simplified_html"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "page_content": {
                            "type": "string",
                            "description": "Content of the webpage"
                          },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "title": {
                                "type": "string",
                                "description": "Title of the webpage"
                              },
                              "snippet": {
                                "type": "string",
                                "description": "Short excerpt from the webpage"
                              },
                              "url": {
                                "type": "string",
                                "description": "URL of the webpage"
                              },
                              "position": {
                                "type": "integer",
                                "description": "Position in the search results"
                              },
                              "entity_type": {
                                "type": "string",
                                "description": "Type of entity returned"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid credentials",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "example": "Authentication failed: Invalid credentials"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}